/vendor
/node_modules
/public/storage
/public/build
/public/hot
/storage/*.key
/storage/pail
/storage/app/firebase-service-account.json
.phpunit.result.cache
/.phpunit.cache

.env
.env.backup
.env.production
.env.local

*.log
.DS_Store
Thumbs.db
.idea
.vscode
*.iml
_ide_helper.php
Homestead.json
Homestead.yaml
